* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    
  }

body {
  background-color: #333333;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.centeredright {
  position: relative;
}

.cover{
  box-sizing: border-box;
  background-color: #1E1E1E;
  width: 25.375rem;
  height: 373px;
  position: absolute;
  top: 250px;
  left: 25%;
  border-radius: 1rem;
  border-color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid#161616

}


h2 {
   font-family: 'Inter', sans-serif;
   color: #FFFFFF;
   font-size: 18px;
   margin: 32px;
   font-weight: medium;
   

}
h3 {
   font-family: 'Inter', sans-serif;
   color: #FFFFFF;
   font-size: 18px;
   margin: 32px;
   font-weight: medium;

}
.inputdata {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rounded-box {
  border-radius: 16px;
  width: 342px;
  height: 51px;
  font-size: 20px;
  background-color: #333333;
  outline: 2px;
  border: none;
  margin-bottom: 10px;
  color: white;
}

.login-btn{
  margin-top: 10px;
  background-color: white;
  color: #1E1E1E;
  transition: background-color 0.3s; 
  

}
.roundedbox::placeholder {
  padding: 30px; 
  color: white;
  
}


.login-btn:hover {
  color: rgb(9, 120, 172);
  cursor: pointer; 
}
.rightheading{
  font-family: 'Inter', sans-serif;
  color: white;
  position: absolute;
  left: 50%;
  top: 163px;
  transform: translateX(-50%);
  font-size: 32px; 
  font-weight: bold;
}
.rounded-box::placeholder {
  padding: 15px; 
  color: offwhite;
  font-weight: 50;
}
.footerinfo {
  position: absolute;
  right: 1%;
  top: 110%;
  transform: translate(-50%, -50%);
  font-weight: medium;
  font: 'Inter', sans-serif;
  width:563px;
  height: 238px;
  text-align: center;
  color: #FFFFFF;
 
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  bottom: 2%;
  left: 25%;
  width: 50%;
  position: absolute; 
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  
}



.image-heading{
  text-wrap: nowrap;
  font-size: 40px;
}

p {
  font-size: 36px;
  margin-bottom: 10px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
}

.image-names {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.image-names p {
  margin: 0 10px;
  font-size: 10px;
  color: white;
}

.subline {
  font-family: 'Inter', sans-serif;;
  font-size: 18px;
  color: white;
  font-weight: normal;

}

.small{
  width: 100%;
  height: 100%;
}
.image-container2{
  left: 10px;
}
.image-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease; 

 
}

.image-button:hover {
  background-color: #0056b3; 
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.left {
  left: 0;
  background-color: #333333;

}

.centered {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.centered-img2 {
  position:absolute;
  width: 21.51825rem;
  height: 21.51825rem;
  flex-shrink: 0;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right {
  right: 0;
  color: #333333
}

.image-container{
  width: 50%;
  height: auto;
  position: relative;

}
.footer-left{
  margin-top: 20px;
}
.column {
  margin-top: 30px;
  padding: 9px; 
}
.bottomcontent2{
  margin-top: 20px;
}

@media screen and (max-width: 600px){
  .split {
    width: 100%;
  }

  .rightportion {
    display: grid;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 50%;
    align-items: center;
    bottom: 20%
  }

  .inputdata {
    display: flex;
    padding: 1rem;
    align-items: center;
    align-self: stretch;
  }

  

  .centered-img2 {
    width: 80%;
    height: auto;
    top: 20%;
  }

  .footerinfo {
    width: 100%;
    top: 100%;
  }

  .container {
    height: 20%;
    bottom: 78%;
    align-items: center;
  }
  
  .image-heading {
    font-size: 25px;
  }

  .rounded-box {
    width: 150px;
    height: 30px;
  }

  .picture2 {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .subline{
    font-size: 15px;
  
  }
  .rightheading{
    top: 10%;
    display: none;
  }
  .cover{
    bottom: 50%;
    align-items: center;
    left: 23%;
    align-self: center;
  }
}

    
  
  

  



  

